<div id="image-picker">
    {% for gallery in galleries %}
    <article class="gallery blog">
        <header>
            <h2>{{ gallery.title }}</h2>
        </header>
            
        <div class="snippet">
            <p><a id="gallery-{{ gallery.id }}" class="attachG" title="{{ gallery.title }}" href="{{ path('BloggerBlogBundle_gallery_show', { 'id': gallery.id, 'slug': gallery.slug }) }}">Attach this gallery</a></p>
            <p>Or attach individual images...</p>
            {% for image in gallery.images %}
                {% if loop.index < 7 %}
                <a id="image-{{ image.id }}" class="attachI" href="{{ path('BloggerBlogBundle_gallery_show', { 'id': gallery.id, 'slug': gallery.slug, 'start': loop.index-1 }) }}"><img src="{{ "/media/images/#{image.path}" | apply_filter('my_thumb')  }}"/></a>
                {% endif %}
            {% endfor %}
        </div>
    </article>
    {% endfor %}
</div>