{# src/Blogger/BlogBundle/Resources/views/Blog/edit.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}New Blog Post{% endblock %}
{% block body %}
    <form action="{{ path('BloggerBlogBundle_blog_new') }}" method="post" {{ form_enctype(form) }} class="blogger">
   
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
{% render "BloggerGalleryBundle:Picker:picker" %}

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/bloggergallery/js/picker.js') }}"></script>
{% endblock %}