
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block body %}
    {% for gallery in galleries %}
    <article class="gallery blog">
        <header>
            <div class="date"><time datetime="{{ gallery.created|date('c') }}">{{ gallery.created|date('l, F j, Y') }}</time></div>
            <h2><a href="{{ path('BloggerBlogBundle_gallery_show', { 'id': gallery.id, 'slug': gallery.slug }) }}">{{ gallery.title }}</a></h2>
        </header>
            
        <div class="snippet">
            <p>{{ gallery.description|slice(0,200) }}</p>
            {% for image in gallery.images %}
                {% if loop.index < 6 %}
                <a href="{{ path('BloggerBlogBundle_gallery_show', { 'id': gallery.id, 'slug': gallery.slug, 'start': loop.index-1 }) }}"><img src="{{ "/uploads/images/#{image.path}" | apply_filter('my_thumb')  }}"/></a>
                {% endif %}
            {% endfor %}
            <p class="continue"><a href="{{ path('BloggerBlogBundle_gallery_show', { 'id': gallery.id, 'slug': gallery.slug }) }}">more...</a></p>
        </div>
    </article>
    {% endfor %}

{% endblock %}
