
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block body %}
    <article class="gallery">
        <header>
            <div class="date"><time datetime="{{ gallery.created|date('c') }}">{{ gallery.created|date('l, F j, Y') }}</time></div>
            <h2>{{ gallery.title }}</h2>
        </header>
        <div>
            <p>{{ gallery.description }}</p>
            
            {% render 'BloggerBlogBundle:Gallery:gallery' with { 'images': images } %}
        </div>
    </article>
    
{% endblock %}




{% block stylesheets %}
    {{ parent() }}
    {% include 'BloggerBlogBundle:Gallery:gallery.css.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
     {% include 'BloggerBlogBundle:Gallery:gallery.js.html.twig' with { 'start': start } %}
{% endblock %}
